@import "tailwindcss";

:root {
  --bg-site: #f3f3f3;
  --red-main: #ef233c;
  --teal-main: #08b8b3;
  --text-main: #111111;
  --muted: #5e5e5e;
}

html,
body {
  background: var(--bg-site);
  color: var(--text-main);
  font-family: var(--font-montserrat), sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.font-title {
  font-family: var(--font-special-gothic), sans-serif;
}

.font-body {
  font-family: var(--font-montserrat), sans-serif;
}

@keyframes scrollStores {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.carousel-track {
  width: max-content;
  animation: scrollStores 30s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}